@{
    ViewBag.Title = "BUD (BENDAHARA UMUM DAERAH)";

}

@*<link rel="stylesheet" href=@Url.Content("~/Scripts/plugins/datatables/datatables.css") type="text/css" />*@

<div id="alert_placeholder"></div>

<section class="panel">
    <div class="container">
        <div class="navbar-header">
            <center><p><h4>Menu Admin</h4></p></center>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown ">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Menu
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-header"></li>
                        <li><a href="@Url.Action("UsersInfo", "Admin")">Info Users</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("BannerInfo", "Admin")">Info Banner</a></li>
                        <li><a href="@Url.Action("NewsInfo", "Admin")">Info Berita</a></li>
                        <li><a href="@Url.Action("AgendaInfo", "Admin")">Info Agenda</a></li>
                        <li class="divider"></li>
                        <li><a href="@Url.Action("GraphInfo", "Admin")">Grafik SKPD</a></li>
                        <li><a href="@Url.Action("RealisasiSkpd", "Admin")">Realisasi SKPD</a></li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div>
</section>